################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/SportsClub/v15/Server/sqlite3/db.lock
